/* ex43.css */

body {
  margin-bottom: 500px;
}

.box {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  margin: 30px;
}

#box1 {
  background-color: tomato;
}

#box2 {
  background-color: gold;
}

#box3 {
  background-color: cornflowerblue;
}

/*
  Transform, 변형
  - 위치, 배열, 회전, 왜곡
  1. translate(): 위치 변형(이동)
  2. scale(): 배율 변형(확대/축소)
  3. rotate(): 회전 변형
  -----------------------------
  4. skew(): 왜곡(비틀기)
  5. matrix(): 사용자 정의형(1~4번) > 행렬
*/

#box1 {
  /* position: relative; 비슷*/
  /* transform: translate(100px, 100px); */

  /* 가로, 세로 (1.2배, 2배)*/
  /* transform: scale(1.2, 2); */
  /* 아래와는 다름 */
  /* width: 240px; */

  /* 회전  음수: 반시계방향, 양수: 시계방향*/
  /* transform: rotate(3600deg); */

  /* 0~90 */
  /* transform: skew(0deg, 45deg); */
}

#box1:hover {
  /* transform: translate(0px, 50px); */

  /* transform: scale(1.2, 1.2); */

  /* transform: rotate(45deg); */
}

#box2 {
  /* 글자, 테두리도 함께 늘어남. 확대해서 그렇다. */
  /*늘리고 줄인게 아니고 3d로 돌았다고 생각하자.*/
  /* 0까지 줄일 수 있음 */
  /* 음수도 가능. 음수 -> 뒤집기 */
  transform: scale(1, 1);
}

input[type="text"] {
  font-size: 2rem;
  padding: 5px;
  outline: none;
  /* transform: rotate(180deg); */
  transform: scale(-1, 1);
}

#cat > img:hover {
  /* transform: translate(0px, -20px); */
  /* transform: scale(1.2, 1.2); */
  transform: translate(0, -20px) scale(1.2, 1.2);
}
